*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(155, 180, 196);
    box-shadow: 0 0 20px 0 black;
}

.header_logo{
    margin: 0 auto;
}

.link {
    margin-right: 15px;
    font-size: 20px;
    color: rgb(43, 84, 129);

}

.section{
    height: 70vh;
    padding: 60px 40px;
}
.section2{
    height: 100%;
    padding: 0 40px 100px;
}

.logo_text{
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: fantasy;
}

.flex{
    display: flex;
    }

.d-flex-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.d-flex-list{
    display: flex;
    align-items: center;
}
.table_flex{
display: flex;
flex-direction:column;
justify-content: center; 
align-items:center;
} 

.mark1{
    background-color:rgb(121, 158, 163);
    border-radius: 7px;
}
.mark2{
    background-color:rgb(168, 201, 206);
    border-radius:7px;
}
.mark3{
    background-color:rgb(121, 158, 163);
    border-radius: 7px;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* border: 5px solid black; */
}

.main_text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(43, 84, 129);
}
.main1_text{
    font-family: "Festive";
    font-size: 25px;
    text-align: center;
    color: rgb(43, 84, 129);
}
.main1_text{
    /* margin-top: 30px; */
    width: 50%;
    height: 100%;
    /* border: 5px dotted; */
}

#home{
    background-color: rgb(215, 221, 221);
}
.table{
    width: 50%;
    height: 100%;
    /* border: 5px dotted; */
}
.about{
    /* width: 50%; */
    height:90%;
    /* border: 5px dotted; */
}

.main_text{
    /* margin-top: 30px; */
    width: 50%;
    height: 100%;
    /* border: 5px dotted; */
}
.list_text{
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin-right: 25px;

}

.number_list{
    margin-right: 10px;
    font-size: 25px;
}

.table_image{
    height: 45px;
    width: 50px;
    border-radius: 100px;
    margin-right: 30px;
}
.even_number{
    width: 80%;
    height: 60px;
    /* margin: auto; */
    /* border: 2px solid black; */
    background-color: silver;
    border-radius: 10px;
}
.odd_number{
    width: 80%;
    height: 60px;
    /* margin: auto; */
    /* border: 2px solid black; */
    background-color: rgb(231, 228, 228);
    border-radius: 10px;
}
.table_title{
    width: 80%;
    height: 60px;
    margin-top: 5%;
    /* border: 2px solid black; */
    background-color: rgb(42, 109, 153);
    border-radius: 10px;
}

.cont_for_images{
    margin: 0 auto;
    width: 70%;
    height: 40%;
    /* border: 5px dotted;  */
}
.cont_for_text{
    padding-top:5%;
    width: 100%;
    height: 70%;
    /* border: 5px dotted;  */
}
.cont_for_maps{
    /* padding-top:5%; */
    width: 100%;
    height: 80%;
    border: 5px solid; 
}
.images{
    height: 90%;
    margin: 3px;
    /* width: 50px; */
    border-radius: 10px;
    border: black 2px solid;
    }    
    
.images_carousel{
    height: 400px;
    width: auto; 
    border-radius: 10px;
    border: black 2px solid;    
    }
    

.flex_images{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cont_for_accordion{
    padding-top:10%;
    width: 100%;
    height: 70%;    
    /* border: 5px dotted;  */
}
.cont_for_carousel{
    padding-top:3%;
    width: 100%;
    height: 70%;    
    /* border: 5px dotted;  */
}

#Witcher{
    background: linear-gradient(to top left, rgb(141, 194, 202), rgb(175, 172, 173));
}
#Assasin{
    background: linear-gradient(to top left, rgb(141, 194, 202), rgb(175, 172, 173));
}
#Heroes{
    background: linear-gradient(to bottom left, rgb(141, 194, 202), rgb(175, 172, 173));
}
#GTA{
    background: linear-gradient(to bottom left, rgb(141, 194, 202), rgb(175, 172, 173));
}
#CS{
    background: linear-gradient(to top left, rgb(141, 194, 202), rgb(175, 172, 173));
}
#Star_Wars{
    background: linear-gradient(to bottom left, rgb(141, 194, 202), rgb(175, 172, 173));
}
#home{
    background: linear-gradient(to bottom left, rgb(141, 194, 202), rgb(175, 172, 173));
}
#maps{
    background: linear-gradient(to top left, rgb(141, 194, 202), rgb(175, 172, 173));
}
#carousel{
    background: linear-gradient(to bottom left, rgb(141, 194, 202), rgb(175, 172, 173));
}
#accordion{
    background: linear-gradient(to top left, rgb(141, 194, 202), rgb(175, 172, 173));
}
#about{
    background: linear-gradient(to bottom left, rgb(141, 194, 202), rgb(175, 172, 173));
}


.all-faq-items {
    margin-top: 35px;
  }
  .faq-item__trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    background-color: #fafafa;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    margin-bottom: 5px;
    text-align: left;
    outline: none;
    cursor: pointer;
  }
  .arrow-down {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.5s;
  }
  .arrow-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: 0.5s;
  }
  .faq-item__content {
    margin-bottom: 24px;
    background-color: #fafafa;
    border-radius: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }
  .faq-item__content__wrapper {
    padding: 15px 20px;
    display: flex;
    justify-content: center;
  }